name: Java CI

# Triggers for the workflow
on:
  push:
    branches: ["main","master"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Check out the repository
      - uses: actions/checkout@v5

      # Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Build and test with Maven
      - name: Build with Maven
        run: mvn --batch-mode verify

      # Optionally upload build artifacts
      - name: Upload build artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Java-build-artifact
          path: target/
